* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3 rem;
}
p {
  font-size: 1.5rem;
  line-height: 1.5;
}
h3 {
  font-size: 1.8rem;
}
h2 {
  font-size: 2.5rem;
}
.btn {
  color: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  font-size: 1rem;
  border-color: transparent;
  cursor: pointer;
}
.logo {
  float: left;
}
.navigation-links {
  float: right;
}

.hero-content {
  width: 40%;
  float: right;
  padding: 1rem;
  margin: 10em 0;
}
.hero-content h1 {
  color: hsl(228, 87%, 62%);
  text-shadow: 2px 2px 2px grey;
  font-size: 3rem;
}
{
  margin: 2em 0;
}
.btn-blue {
}
.image {
  float: left;
  width: 50%;
}
.more {
  float: right;
  width: 45%;
}

.abt {
  color: #2dd6c1;
}
.us {
  color: #496bf2;
  padding: 1px;
}
.reed {
  color: #496bf2;
}
.wizard h2 {
  text-align: center;
}
.content {
  padding: 1em 0;
  border-radius: 5px;
}

.wow {
  padding: 1em;
}
.hey {
  float: right;
  padding: 1em;
}
.kenya {
  color: #496bf2;
  text-align: center;
}
.testimonials {
  width: 50%;
  margin: 0 auto;
}
.profiles {
  text-align: center;
}
.profiles :nth-child(2) {
  padding: 1rem 2rem;
}
.testimonials-circle {
  width: 40%;
  margin: 0 auto;
}
.circle {
  width: 30px;
  height: 30px;
  float: left;
  margin: 2em;
  border-radius: 50%;
}
.blue-circle {
  background-color: #496bf2;
}
.green-circle {
  background-color: #2dd6c1;
}
.love {
  color: #2dd6c1;
}
.hear {
  color: #496bf2;
}
.from {
  text-align: center;
}
.contact {
  background-image: url("../images/contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
}
form {
  width: 40%;
}
.name,
.email,
.subject,
.message {
  padding: 0.5em;
}
.name input,
.email input,
.subject input,
.message textarea {
  width: 100%;
  padding: 2em;
  border-radius: 0.5em;
}
.contact-content {
  margin: 2em;
  padding: 0 2em;
}
.mise {
  margin: 2em;
}

.footer-section {
  float: left;
  padding: 2em;
}
.foooter-section ul li {
  padding: 2em;
}
ul li{
  list-style: none;
}
.coder{
  margin-bottom: auto;
  float:bottom-center ;
}
